<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title"><%= title %></h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-lg-12">
                                <a class="btn btn-info pull-right" href="/client/create">
                                    Create Client
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="grid">
                                    <table class="table table-striped">
                                        <head>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                
                                                <th>Board</th>
                                                
                                                <th>Action</th>
                                            </tr>
                                        </head>

                                        <body>
                                            <% models.forEach(user =>{ %>
                                            <tr>
                                                <td>
                                                    <%= user.name %>
                                                </td>
                                                <td>
                                                    <%= user.email %>
                                                </td>
                                                
                                                <td>
                                                    <%= user.board %>
                                                </td>
                        
                                                <td>
                                                    <%= user.createdAt %>
                                                </td>
                                            </tr>
                                            <% }); %>
                                        </body>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>